

.flex-container {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: stretch;
    font-family: 'Share Tech Mono', monospace;
    background-color: #020204;
    background-image: url(matrix\ bground.jpg);
    background-size: cover;
    /* margin-top: auto; */
}
header {
    padding: 2em;
    background-color: #80ce87;
    font-family: 'Share Tech Mono', monospace;
    display: flex;
}
.nav {
    background-color: #204809;
    padding: 2px;
    flex-grow: 1;
    list-style: none;
}
.nav_list {
    list-style: none;
    background-color: #80ce87;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

.nav_list a {
    color: #788474;
}
.nav_list a:hover,
.nav_list a:focus {
    color: #375737;
}
.h1 {
    color: #204809;
}

.lyrics {
    color: #22b455;
    background-color: #343634;
    border-style: groove;
    border-color: #80ce87;
    border-left-style: double;
    border-radius: 25px;
    width: 200px;
    height: 175px;
    padding: 5px;
    margin: auto;
}
