
/* .navbar {
    display: inline;
    background-color: #343634;
    color: #80ce87;
    position: sticky;
    list-style-type: none;
    text-decoration: none;
} */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items:center;
    font-family: 'Share Tech Mono', monospace;
    background-color: #020204;
    padding: 0.5em;
    background-image: url(morpheus.png);
    background-size: cover;
    /* margin-top: auto; */
}
.h1 {
    color: #204809;
}
.lyrics {
    color: #22b455;
    background-color: #343634;
    border-radius: 25px;
    padding: 10px;
  width: 200px;
  height: 175px;
  border-style: groove;
  border-color: #80ce87
  
}

.img {
    border-radius: 25px;
    }